<nav style="background-image: url('/img/navbar-bg.jpg'); background-size: cover;">
    <div class="blur-nav">
        <div class="opaque-nav">
            <div class="nav-container d-flex center-y w-25">
                <a class="color-white nav-webname" href="">SIVENART</a>
            </div>
            <div class="nav-container d-flex f-space-betwen center-y w-50">
                <a class="nav-button color-white" href="">Tienda</a>
                <a class="nav-button color-white" href="">Talleres afiliados</a>
                <a class="nav-button color-white" href="">Sobre nosotros</a>
            </div>
            <div class="nav-container d-flex right-x center-y w-25">
                <a class="color-white pr-10" href="">a</a>
                <a class="color-white" href="">b</a>
            </div>
        </div>
    </div>
</nav>