<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<nav style="background-image: url('/img/navbar.png'); background-size: cover;">
    <div class="blur-nav">
        <div class="opaque-nav">
            <div class="nav-container d-flex center-y w-25">
                <a class="color-white nav-webname" href="/products/">SIVENART</a>
            </div>
            <div id="sites" class="nav-container d-flex f-space-betwen center-y w-50">
                <a class="nav-button color-white font-md" href="/products">Tienda</a>
                <a class="nav-button color-white font-md" href="/information/talleres">Talleres afiliados</a>
                <a class="nav-button color-white font-md" href="/information/aboutus">Sobre nosotros</a>
            </div>
            <div id="options" class="nav-container d-flex right-x center-y w-25">
                <a id="option1" class="nav-button color-white pr-10 font-xl" href="/information/usuario"><i class="uil uil-user"></i></a>
                <a id="option2" class="nav-button color-white pr-10 font-xl" href="/products/shopping-cart"><i class="uil uil-shopping-cart"></i></a>
                <div id="option3" class="nav-button color-white">
                    <i class="uil uil-bars"></i>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="nav_aux" class="d-none nav-aux f-space-betwen center-y">
    <a class="nav-button color-white" href="/products">Tienda</a>
    <a class="nav-button color-white font-md" href="/information/talleres">Talleres afiliados</a>
    <a class="nav-button color-white font-md" href="/information/aboutus">Sobre nosotros</a>
</div>

<script src="/assets/js/navbar.js"></script>