<h1 class="color-pink mt-20 mb-10">Administrador</h1>
<div class="d-flex f-wrap">
    <div class="row">
        <input id="p_apellido_administrador" class="col-2 bg-sand" type="text" placeholder="Primer apellido">
        <input id="s_apellido_administrador" class="col-2 bg-sand" type="text" placeholder="Segundo apellido">
    </div>
    <div class="row">
        <input type="file">
    </div>
</div>