<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/navbar/navbar.css">
    <link rel="stylesheet" href="/assets/css/register/register_form.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>SIVENART</title>
</head>
<body class="bg-sand">
    <header>
        <%- include('../navbar') %> 
    </header>

    <div class="half-image-bg" style="background-image: url('/img/fondo-registro.png');"></div>

    <div class="transparent main-content">
        <section class="w-100 d-flex f-column center-y p-10">
            <div class="mt-10 bg-white card d-flex f-column center-x">
                <h1 class="font-xl color-main-blue mr-10">REGISTRAR TALLERES</h1>
                <p class="mt-10 color-main-gray">Rellene la información solicitada a continuación para registrar nuevos talleres en el sistema</p>
            </div>
            <form class="m-16 bg-white" action="/register/createUser" method="post">
                <!-- Sección para los datos generales -->
                <h2 class="color-pink mb-20">Datos generales</h2>
                <div class="d-flex f-wrap">
                    <div class="row">
                        <label class="font-md color-main-gray mb-10 col-6" for="nombre">Nombre:</label>
                        <label class="font-md color-main-gray mb-10 col-6" for="descripcion">Descripción:</label>
                    </div>
                    <div class="row">
                        <div class="d-flex f-column col-6">
                            <input id="nombre" name="nombre" class="bg-sand" type="text" placeholder="Escriba el nombre del taller">
                            <label class="font-md color-main-gray mb-10" for="avatar_administrador">Seleccione la imagen para su avatar:</label>
                            <div class="file-input font-md bg-main-blue color-white">
                                <input id="avatar_administrador" name="avatar_administrador" type="file">
                            </div>
                        </div>
                        <div class="d-flex col-6 h-100">
                            <textarea class="bg-sand" name="descripcion" id="descripcion" placeholder="Escriba una pequeña descripción del taller"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Sección para la ubicación -->
                <h2 class="color-pink mt-20 mb-20">Dirección</h2>
                <div class="d-flex f-wrap">
                    <div class="row">
                        <div class="d-flex f-column col-6">
                            <label class="font-md color-main-gray mb-10" for="localidad">Localidad:</label>
                            <input id="localidad" name="localidad" class="bg-sand" type="text" placeholder="Escriba la localidad donde se encuentra el taller">
                        </div>
                        <div class="d-flex f-column col-6">
                            <label class="font-md color-main-gray mb-10" for="nombre">Entidad:</label>
                            <input id="entidad" name="entidad" class="bg-sand" type="text" placeholder="Escriba la entidad donde se encuentra el taller">
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex f-column col-8">
                            <label class="font-md color-main-gray mb-10" for="calle">Calle:</label>
                            <input id="calle" name="calle" class="bg-sand" type="text" placeholder="Escriba la calle en donde se encuentra el taller">
                        </div>
                        <div class="d-flex f-column col-4">
                            <label class="font-md color-main-gray mb-10" for="nombre">Número:</label>
                            <input id="numero" name="numero" class="bg-sand" type="text" placeholder="Escriba el No. del taller">
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex f-column col-8">
                            <label class="font-md color-main-gray mb-10" for="colonia">Colonia:</label>
                            <input id="colonia" name="colonia" class="bg-sand" type="text" placeholder="Escriba la colonia donde se encuentra el taller">
                        </div>
                        <div class="d-flex f-column col-4">
                            <label class="font-md color-main-gray mb-10" for="codigo_postal">Código postal:</label>
                            <input id="codigo_postal" name="codigo_postal" class="bg-sand" type="text" placeholder="Escriba el código postal del taller">
                        </div>
                    </div>
                </div>

                <!-- Sección para el personal -->
                <h2 class="color-pink mt-20 mb-20">Personal</h2>
                <div class="d-flex f-wrap">
                    <div class="row">
                        <div class="d-flex f-column w-100">
                            <label class="font-md color-main-gray mb-10" for="colonia">Artesano:</label>
                            <input id="colonia" name="colonia" class="bg-sand" type="text" placeholder="Escriba el ID del artesano que pertenece a este taller">
                        </div>
                    </div>
                </div>

                <!-- Sección para los botones -->
                <div class="mt-10 d-flex right-x">
                    <button class="bg-main-blue" type="submit">Registrar</button>
                </div>
            </form>
        </section>
    </div>
</body>
</html>