<h1 class="color-pink mt-30 mb-20">Artesano</h1>
<div class="d-flex f-wrap">
    <div class="row mt-10">
        <div class="d-flex f-column col-2">
            <label class="font-md color-main-gray mb-10" for="id_taller">Taller:</label>
            <input id="id_taller" name="id_taller" class="bg-sand" type="text" placeholder="Escriba la ID del taller">
        </div>
        <div class="d-flex f-column col-2">
            <label class="font-md color-main-gray mb-10" for="puesto">Puesto:</label>
            <input id="puesto" name="puesto" class="bg-sand" type="text" placeholder="Escriba el puesto del artesano">
        </div>
    </div>
    <div class="row mt-10">
        <div class="d-flex f-column col-2">
            <label class="font-md color-main-gray mb-10" for="avatar_artesano">Seleccione la imagen para su avatar:</label>
            <input id="avatar_artesano" name="avatar_artesano" type="file">
        </div>
    </div>
</div>