<h2 class="color-pink mt-30 mb-20">Administrador</h2>
<div class="d-flex f-wrap">
    <div class="row mt-10">
        <div class="d-flex f-column col-6">
            <label class="font-md color-main-gray mb-10" for="avatar_administrador">Seleccione la imagen para su avatar:</label>
            <div class="font-md file-input bg-main-blue color-white">
                <input id="avatar_administrador" name="avatar_administrador" type="file">
            </div>
        </div>
    </div>
</div>