<h1 class="color-pink mt-20 mb-10">Artesano</h1>
<div class="d-flex f-wrap">
    <div class="row">
        <input id="id_taller" name="id_taller" class="col-2 bg-sand" type="text" placeholder="Taller (ID)">
        <input id="puesto" name="puesto" class="col-2 bg-sand" type="text" placeholder="Puesto">
    </div>
    <div class="row">
        <input id="avatar_artesano" name="avatar_artesano" type="file">
    </div>
</div>