<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/navbar/navbar.css">
    <link rel="stylesheet" href="/assets/css/register/register_usuario.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>SIVENART</title>
</head>
<body>
    <header>
        <%- include('../navbar') %> 
    </header>

    <div class="main-content bg-sand">
        <section class="w-100 d-flex center-x">
            <form class="m-16 bg-white" action="">
                <!-- Sección para los datos generales -->
                <h1 class="color-pink mb-10">Datos generales</h1>
                <div class="d-flex f-wrap">
                    <div class="row">
                        <input id="email" class="col-2 bg-sand" type="text" placeholder="Correo">
                        <input id="telefono" class="col-2 bg-sand" type="text" placeholder="Teléfono">
                    </div>
                    <div class="row">
                        <input id="password" class="col-2 bg-sand" type="password" placeholder="Contraseña">
                        <input id="nombre" class="col-2 bg-sand" type="text" placeholder="Nombre">
                    </div>
                    <!-- Botones para la selección -->
                    <p class="mt-10 d-flex center-x w-100 color-light-gray font-md">Seleccione el tipo de usuario que desea registrar:</p>
                    <div class="d-flex center-x w-100">
                        <button type="button" id="btn_administrador" class="bg-main-blue mr-10">Administrador</button>
                        <button type="button" id="btn_artesano" class="bg-medium-blue color-darker-blue">Artesano</button>
                    </div>
                </div>

                <!-- Sección para los administradores -->
                <div id="seccion_administrador">
                    <%- include('./register_administrador_part') %> 
                </div>

                <!-- Sección para el artesano -->
                <div id="seccion_artesano">
                    <%- include('./register_artesano_part') %> 
                </div>

                <!-- Sección para los botones -->
                <div class="mt-10 d-flex right-x">
                    <button class="bg-main-blue" type="submit">Registrar</button>
                </div>
            </form>
        </section>
    </div>

    <!-- Scripts -->
    <script src="/assets/js/register/register_usuario.js"></script>
</body>
</html>