<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <link rel="stylesheet" href="/assets/css/navbar/navbar.css">
    <link rel="stylesheet" href="/assets/css/footer/footer.css">
    <link rel="stylesheet" href="/assets/css/register/register_form.css">
    <link rel="stylesheet" href="/assets/css/login/login.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <title>About Us</title>
</head>

<body>
    <header>
        <%- include('../navbar') %>
    </header>
    <div class="transparent main-content">
        <section class="w-100 seccion-login d-flex center-y f-column p-10 "
            style="background-image: url('/img/aboutus2.png'); background-size: cover;">

            <div class="w-100 seccion-login d-flex center-y f-column p-10 ">
                <div class="color-white mt-10 card-free d-flex f-column center-x center-y color-white col-8">
                    <!-- Sección para los datos generales -->
                    <h1>SOBRE NOSOTROS</h1>
                </div>
                <div class="d-flex f-space-betwen col-8 color-white text-center">
                    <div class="mt-10 card-free d-flex f-column tarjeta-about col-6 text-center">
                        <div class="color-white mt-10">
                            <h3 class="mb-10">VISIÓN</h3>
                            <p>Ser el principal proveedor de artesanías mexicanas en el mercado local y extranjero,
                                contribuyendo al desarrollo económico y cultural de las comunidades locales donde se
                                originan estos productos y promoviendo la diversidad cultural a nivel global.
                            </p>
                        </div>
                    </div>
                    <div class="mt-10 card-free d-flex f-column tarjeta-about col-6 text-center">
                        <div class="color-white mt-10">
                            <h3 class="mb-10">MISIÓN</h3>
                            <p>Ofrecer una amplia variedad de productos hechos a mano por artesanos mexicanos de alta
                                calidad y trabajar directamente con ellos para ofrecerles un precio justo por sus
                                trabajos,
                                mientras contribuimos al desarrollo económico y cultural de las comunidades locales y
                                promovemos la diversidad cultural a nivel global.</p>
                        </div>
                    </div>
                </div>
                <div class="mt-20 card-free d-flex f-column tarjeta-about col-8">
                    <div class="color-white mt-10 m-16">
                        <h3 class="text-center mb-20">NUESTROS VALORES</h3>
                        <ul class="m-16">
                            <li><strong>Calidad:</strong> Ofrecer productos de alta calidad hechos a mano por artesanos
                                mexicanos.</li>
                            <br>
                            <li><strong>Compromiso:</strong> Trabajar directamente con los artesanos para ofrecerles un
                                precio justo por sus trabajos y contribuir al desarrollo económico y cultural de las
                                comunidades locales.</li>
                            <br>
                            <li><strong>Difusión cultural:</strong> Ayudar a difundir la cultura mexicana en todo el
                                mundo a través de la venta de sus artesanías y promover la diversidad cultural a nivel
                                global.</li>
                            <br>
                            <li><strong>Servicio al cliente:</strong> Brindar una experiencia de compra agradable y un
                                servicio al cliente excepcional.</li>
                            <br>
                            <li><strong>Responsabilidad social:</strong> Contribuir al desarrollo económico y cultural
                                de las comunidades locales donde se originan los productos.</li>
                            <br>
                            <li><strong>Respeto a la cultura:</strong> Valorar y respetar la cultura de los artesanos y
                                las comunidades locales donde se originan los productos.</li>
                            <br>
                            <li><strong>Ética empresarial:</strong> Conducta ética y transparente en todas las
                                operaciones de la empresa.</li>
                        </ul>
                    </div>
                </div>

                <div class="mt-30 card-free d-flex f-column tarjeta-about col-8">
                    <div class="color-white mt-10 m-16 text-center">
                        <h3 class="mb-20">NUESTRA HISTORIA</h3>
                        <p>La empresa comenzó como un pequeño negocio familiar en un pueblo de México, donde se
                            dedicaban a la producción y venta de artesanías hechas a mano. Con el tiempo, la calidad y
                            belleza de sus productos llamó la atención de turistas y visitantes, y comenzaron a vender
                            sus artesanías en ferias locales y a través de pequeñas tiendas en la ciudad.</p>
                        <br>
                        <p>Con el tiempo, la empresa creció y se expandió, comenzando a trabajar directamente con
                            artesanos de otras comunidades para ofrecer una amplia variedad de productos hechos a mano.
                            La empresa se enorgullece de pagar un precio justo por el trabajo de los artesanos y
                            contribuir al desarrollo económico y cultural de las comunidades locales.</p>
                        <br>
                        <p>En la actualidad, la empresa ha convertido en su misión difundir las artesanías mexicanas en
                            el mercado local y extranjero, ofreciendo una amplia gama de productos de alta calidad
                            hechos a mano por artesanos mexicanos. Además, la empresa se enorgullece de su compromiso
                            con el desarrollo económico y cultural de las comunidades locales y la promoción de la
                            diversidad cultural a nivel global.</p>

                    </div>
                </div>

                <div class="mt-30 card-free d-flex f-column tarjeta-about col-8">
                    <div class="color-white mt-10 m-16">
                        <h3 class="text-center mb-20">NUESTROS LOGROS</h3>
                        <ul class="m-16">
                            <li><strong>Premio al Mejor Proveedor de Artesanías Mexicanas</strong> otorgado por la
                                Asociación de Comercio y Turismo de México.</li>
                            <br>
                            <li><strong>Mención honorífica en el Premio Nacional de Artesanía</strong> por la calidad y
                                originalidad de sus productos.</li>
                            <br>
                            <li><strong>Crecimiento del 50% en ventas en el último año</strong>, gracias a la expansión
                                del negocio a nivel nacional e internacional.</li>
                            <br>
                            <li><strong>Colaboración con ONGs locales</strong> para apoyar el desarrollo económico y
                                cultural de las comunidades donde se originan las artesanías.</li>
                            <br>
                            <li><strong>Creación de más de 100 empleos directos</strong> en las comunidades donde se
                                producen las artesanías.</li>
                            <br>
                            <li>Participación en ferias y eventos internacionales para <strong>promover las artesanías
                                    mexicanas en el mercado global</strong>.</li>
                        </ul>
                    </div>
                </div>

                <div class="color-white mt-30 mb-10 card-free d-flex f-column center-x center-y color-white col-8">
                    <!-- Sección para los datos generales -->
                    <h3>EQUIPO DE DESARROLLADORES</h3>
                </div>

                <div class="d-flex f-space-betwen col-8 color-white text-center">
                    <div class="d-flex f-column col-4 tarjeta-about card-free">
                        <img src="/img/productos/1cc587aa-b571-4adc-9e25-bd9453252416.png"
                            alt="Foto de Colmenares Cortés Oliver Axel"
                            style="display: block; margin: 20px auto; border-radius: 30%; max-height: 200px; max-width: 200px;" />
                        <h3 class="mb-10">Colmenares Cortés Oliver Axel</h3>
                        <strong>Formación académica</strong>
                        <p>Ingeniero en sistemas computacionales</p><br>
                        <strong>Habilidades</strong>
                        <p> Desarrollo de aplicaciones web, bases de datos, lenguajes de
                            programación</p><br>
                        <strong>Experiencia</strong>
                        <p> 3 años como desarrollador en empresas de tecnología</p>

                    </div>

                    <div class="d-flex f-column col-4 tarjeta-about card-free">
                        <img src="/img/usuarios/778b3555-317b-4038-bdd8-5063bd82fce0.png"
                            alt="Foto de Monteón Ricardez Nizvan"
                            style="display: block; margin: 20px auto; border-radius: 30%; max-height: 200px; max-width: 200px;" />
                        <h3 class="mb-10">Monteón Ricardez Nizvan</h3>
                        <strong>Formación académica</strong>
                        <p>Ingeniero en sistemas computacionales</p><br>
                        <strong>Habilidades</strong>
                        <p> Diseño y desarrollo de interfaz de usuario, lenguajes de
                            programación, bases de datos</p><br>
                        <strong>Experiencia</strong>
                        <p>2 años como desarrollador en empresa de tecnología de la
                            información
                    </div>
                    <div class="d-flex f-column col-4 tarjeta-about card-free">
                        <img src="/img/productos/f812e039-7d05-4ae1-996b-a017e582414c.jpg"
                            alt="Foto de Torres Cruz Naim Vladimir"
                            style="display: block; margin: 20px auto; border-radius: 30%; max-height: 200px; max-width: 200px;" />
                        <h3 class="mb-10">Torres Cruz Naim Vladimir</h3>
                        <strong>Formación académica</strong>
                        <p>Ingeniero en sistemas computacionales</p><br>
                        <strong>Habilidades</strong>
                        <p>Desarrollo de aplicaciones móviles, bases de datos, lenguajes de programación</p><br>
                        <strong>Experiencia</strong>
                        <p>5 años como desarrollador en empresa de tecnología de la información</p>
                    </div>
                </div>

            </div>
        </section>
        <footer>
            <%- include('../footer') %>
        </footer>
    </div>

</body>

</html>