<div class="d-flex f-column col-4">
    <label class="font-w-500 font-md color-main-gray mb-10" for="email">Puesto dentro del taller:</label>
    <p class="color-main-gray"><%= user_esp.puesto %></p>
</div>