<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/extra.css">
    
    <title>Login</title>
</head>
<body class="pink" style="background-image: url('/img/fondo.png');">
    <div class="d-flex cover-all center-y center-x">
        <div class="card horizontal w-80 h-200px">
            <div class="card-stacked">
                <div class="card-content">
                    <form action="">
                        <span class="card-title color-white">Login</span>
                        <div class="input-field">
                            <input class="color-white" id="email" name="email" type="text">
                            <label class="color-white" for="email">Correo electrónico</label>
                        </div>
                        <div class="input-field">
                            <input id="password" name="password" type="password">
                            <label for="password">Contraseña</label>
                        </div>
                        <a href="">¿Olvidó su contraseña?</a>
                        <button class="btn mt-20" type="submit">Iniciar sesión</button>
                    </form>
                </div>
            </div>
            <div class="card-image" style="min-height: 100%;">
                <img src="/img/fondo.png" style="object-fit: none; min-height: 100%;" alt="">
            </div>
        </div>
    </div>

    <script src="/assets/js/materialize.min.js"></script>
</body>
</html>