<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/colors.css">
    <!-- <link rel="stylesheet" href="/assets/css/navbar/navbar.css"> -->
    <link rel="stylesheet" href="/assets/css/login/login.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    
    <title>Login</title>
</head>
<body>
    <!-- <header>
        <%- include('../navbar') %> 
    </header> -->
    <section class="seccion-login d-flex center-x center-y" style="background-image: url('/img/fondo.png'); background-size: cover;">
        <div class="tarjeta-horizontal d-flex">
            <div class="tarjeta-mitad tarjeta-cuerpo d-flex f-column center-x center-y">
                <h1 class="color-main-blue mb-10">Login</h1>
                <form action="" class="d-flex f-column w-80 center-x center-y">
                    <input class="color-main-gray bg-light-blue" id="email" name="email" type="text" placeholder="Correo electrónico">
                    <input class="color-main-gray bg-light-blue" id="password" name="password" type="password" placeholder="Contraseña">
                    <a class="color-light-gray" href="">¿Olvidó la contraseña?</a>
                    <button class="bg-main-blue" type="submit">Iniciar sesión</button>
                </form>
            </div>
            <div class="tarjeta-mitad tarjeta-blur d-flex f-column center-x center-y">
                <h1 class="color-white">Hola</h1>
                <p class="color-white">This is the description. Oh yeah Mr. Crabs</p>
            </div>
        </div>
    </section>

    <script src="/assets/js/materialize.min.js"></script>
</body>
</html>