<div>
    <h1>Hola <%=nombre%> <%=p_apellido%>, haz sido añadido a SIVENART</h1>
        <p>Ahora formas parte de la web, las credenciales para tu usuario son las siguientes</p>
        <p>Email:</p> <%=email%>
        <p>Contraseña: </p> <%=password%>
</div>